.home-features-container {
  align-items: center;
  /* padding-top: 15rem; */
  gap: 4rem;
  margin-bottom: 5rem;
}
.feature-name-btn {
  width: 16.5rem;
  height: 6.5rem;
  border: none;
  background: #efecff;
  border-radius: 39px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.5rem;
  color: #5236ff;
}
.secondary-title {
  font-weight: 800;
  font-size: 3.8rem;
  line-height: 110%;
  color: #242331;
  width: 50%;
  text-align: center;
}
.features-cards-box {
  display: flex;
  gap: 2rem;
}
.feature-card {
  width: 30rem;
  height: 38rem;
  border-radius: 30px;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  transition: all 0.2s ease-out;
}
.feature-card:hover {
  background-color: #f9f9f9;
  transform: scale(1.02);
}
.feature-card img {
  width: 27rem;
}
.feature-card h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 110%;
  color: #242331;
}
.feature-card p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 120%;
  text-align: center;
  color: #797979;
}
.feature-card a:link,
.feature-card a:visited {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 25px;
  text-decoration-line: underline;
  color: #242331;
  padding: 1rem 0;
}
.feature-card a:hover,
.feature-card a:active {
  color: #5236ff;
}

/*********** feature box 2 **********/
.feature-box-two {
  position: relative;
  margin: 15rem 0;
  display: grid;
  background-image: url("../../Assets/HomePage/b2.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  grid-template-columns: repeat(2, 50%);
  background-size: contain;
  /* overflow: hidden; */
}
.feature-graph {
  width: 105%;
  margin-left: 5rem;
}
.cost-infor-card {
  width: 75rem;
  height: auto;
  background: #f1f1f1;
  border-radius: 35px;
  padding: 15rem 3rem;
  gap: 2.5rem;
}
.cost-infor-card h3 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 110%;
  color: #242331;
  width: 55%;
}
.cost-infor-card p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 157.4%;
  color: #797979;
  width: 74%;
}
.cost-effective {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.cost-effective img {
  width: 6.5rem;
}
.cost-effective h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 110%;
}
.cost-effective p {
  font-size: 1.5rem;
  line-height: 145%;
  width: 60%;
}

@media (max-width: 94em) {
  .feature-graph {
    width: 105%;
    margin-left: 12rem;
  }
}
@media (max-width: 74em) {
  .secondary-title {
    width: 60%;
  }
  .features-cards-box {
    flex-direction: column;
    gap: 1rem;
  }
  .feature-box-two {
    grid-template-columns: auto;
    row-gap: 3rem;
    justify-items: center;
  }
  .feature-graph {
    width: 75%;
    margin-left: 0;
    margin-bottom: -7rem;
  }
  .cost-infor-card {
    width: 75%;
    margin-top: 5rem;
    padding: 8rem 3rem;
  }
}
@media (max-width: 58em) {
  .secondary-title {
    width: 90%;
    font-size: 3.4rem;
  }
  .feature-box-two {
    height: auto;
  }
  .feature-graph {
    width: 75%;
  }
  .cost-infor-card {
    width: 90%;
    height: 40rem;
  }
  .cost-infor-card h3 {
    width: 100%;
  }
  .cost-infor-card p {
    width: 100%;
  }
  .cost-effective {
    margin-top: 0;
  }
}
@media (max-width: 35em) {
  .secondary-title {
    font-size: 3rem;
  }
  .cost-infor-card {
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
  }
  .feature-graph {
    width: 100%;
  }
  .feature-box-two {
    margin: 8rem 0;
    background-position: 180% 50%;
  }
}
@media (max-width: 28em) {
  .feature-box-two {
    background-position: 25rem 50%;
  }
  .secondary-title {
    font-size: 2.8rem;
  }
  .cost-infor-card {
    gap: 1rem;
  }
  .cost-infor-card h3 {
    font-size: 2.4rem;
  }
  .cost-infor-card p {
    font-size: 1.7rem;
  }
  .cost-effective h3 {
    font-size: 2rem;
    line-height: 150%;
  }
  .cost-effective p {
    font-size: 1.4rem;
    line-height: 125%;
  }
}
@media (max-width: 23em) {
  .feature-box-two {
    background-position: 20rem 50%;
  }
  .cost-infor-card {
    padding-top: 4rem;
    gap: 1rem;
    height: 39rem;
  }
}
@media (max-width: 18em) {
  .feature-box-two {
    background-position: 16rem 50%;
  }
  .feature-card {
    width: 26rem;
  }
  .feature-card img {
    width: 23rem;
  }
  .cost-infor-card {
    padding-top: 3rem;
    height: 47rem;
    margin-top: 13rem;
  }
  .feature-graph {
    margin-bottom: 0;
  }
}
