@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap");
.contactus-background {
  position: relative;
}
.cf-bg-img {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 50rem;
  height: 120rem;
  z-index: -1;
}
.contact-form-container {
  margin: 8rem 0 15rem 0;
  gap: 3rem;
  align-items: center;
}
.contactform-mailcall {
  gap: 3rem;
}
.cf-mailcall-card {
  width: 41rem;
  height: auto;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 24px 33px rgba(181, 181, 181, 0.25);
  border-radius: 15px;
  padding: 1.5rem 5rem 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cf-mailcall-img {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 321.5%;
  text-transform: capitalize;
  color: #1b2534;
}
.cf-mailcall-img img {
  height: 6rem;
  width: 6rem;
}
.contactform-details-container {
  width: 100%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 17px 44px rgba(179, 179, 179, 0.25);
  border-radius: 20px;
  padding: 8rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5rem;
}
.cf-msg-ip {
  grid-column: 1/3;
}
.cf-submit-btn {
  grid-column: 1/3;
  margin-left: 50%;
  transform: translate(-50%);
  width: 18.5rem;
  height: 7rem;
}
.contactform-details-container label {
  font-family: "Open Sans", "sans-serif";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
  text-transform: capitalize;
  color: #242331;
}
.contactform-details-container input,
.contactform-details-container textarea {
  width: 100%;
  height: 6.3rem;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  margin-top: 1rem;
  padding-left: 2.5rem;
  outline: none;
}
.contactform-details-container textarea {
  padding-top: 2.5rem;
  height: 23rem;
}
.contactform-details-container input::placeholder,
.contactform-details-container textarea::placeholder {
  font-size: 1.8rem;
  line-height: 27px;
  text-transform: lowercase;
  color: #797979;
}

/************ Location ***********/

.contactform-locations {
  align-items: center;
  padding: 5rem 0;
  gap: 5rem;
}
.contactform-locations h2 {
  width: 65%;
}
.cf-location-cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 2rem;
}
.cf-location-name {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 110%;
  color: #000000;
}
.cf-locaion-info {
  width: 100%;
  height: auto;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  padding: 4rem;
  gap: 1.5rem;
  align-items: center;
}
.cf-locaion-info:hover {
  box-shadow: 0px 17px 14px rgba(217, 217, 217, 0.25);
}
.cfl-address {
  width: 70%;
  text-align: center;
}
.cf-contact-no {
  width: 90%;
  height: 5rem;
  background: #f5e9db;
  border-radius: 39px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 30px;
  color: #d1934b;
}
.cf-location-icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #f5e9db;
}

@media (max-width: 94em) {
  .contact-form-container .aboutus-h2-p {
    margin-left: 0%;
    transform: translate(0%);
  }
  .cf-locaion-info {
    padding: 3rem;
  }
  .contactform-locations .secondary-title {
    width: 90%;
  }
}
@media (max-width: 78em) {
  .cf-bg-img {
    top: 4rem;
    width: 38rem;
    height: 118rem;
  }
  .cf-locaion-info {
    padding: 2rem;
  }
}
@media (max-width: 63em) {
  .cf-bg-img {
    top: 5rem;
    width: 40rem;
    height: 125rem;
  }
  .contactform-mailcall {
    gap: 2rem;
    flex-direction: column;
  }
  .contactform-details-container {
    padding: 8rem 5rem;
  }
  .cf-location-cards {
    grid-template-columns: repeat(1, auto);
    row-gap: 2rem;
  }
  .cf-locaion-info {
    padding: 5rem;
  }
}

@media (max-width: 58em) {
  .cf-bg-img {
    top: 10rem;
    height: 150rem;
    width: 50rem;
  }
  .contactform-details-container {
    display: flex;
    flex-direction: column;
    padding: 8rem 12rem;
  }
  .contactform-details-container textarea {
    height: 18rem;
  }
}
@media (max-width: 49em) {
  .cf-bg-img {
    width: 45rem;
  }
  .contactform-details-container {
    padding: 8rem 7rem;
  }
}
@media (max-width: 35em) {
  .cf-bg-img {
    width: 40rem;
    height: 140rem;
  }
  .contactform-details-container {
    padding: 8rem 4rem;
  }
  .cf-locaion-info {
    padding: 3.5rem;
  }
}
@media (max-width: 28em) {
  .cf-mailcall-card {
    width: 135%;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 10px;
    padding: 2rem;
  }
  .cf-mailcall-img {
    gap: 1rem;
  }
  .cf-mailcall-img img {
    height: 4.8rem;
    width: 4.8rem;
  }
  .cf-bg-img {
    top: 14rem;
    width: 27rem;
    height: 130rem;
  }
  .contactform-details-container {
    padding: 7rem 2rem;
    border-radius: 10px;
  }
  .contactform-locations .secondary-title {
    width: 100%;
  }
  .cf-locaion-info {
    padding: 2rem;
  }
}
